h1{
    font-size: 30px;
    color: #335EFF;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
}

h2{
    font-size: 28px;
    color: #363431;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
}

h3{
    font-size: 26px;
    color: #363431;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
}

.recipes-main{
    font-size: 20px;
    color: #FFA533;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-desc{
    font-size: 16px;
    color: #363431;
    font-style: italic;
    text-align: center;
}

.ingredients{
    font-size: 16px;
    color: #363431;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.steps{
    font-size: 16px;
    color: #363431;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
/**reset ul and ol width on mobile**/
@media screen and (max-width: 480px){
    .steps,.ingredients{
        width: 90%;
        margin: 0;
    }
}

.recipe-image{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/**make recipe-image larger on mobile**/
@media screen and (max-width: 480px){
    .recipe-image{
        width: 100%;
    }
}

.home-link{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}